[*.cs]

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = warning

# IDE0051: Remove unused private members.
dotnet_diagnostic.IDE0051.severity = none

# IDE0052: Private member can be removed as the value assigned to it is never read.
dotnet_diagnostic.IDE0052.severity = none

# IDE0079: Remove unnecessary supression.
dotnet_diagnostic.IDE0079.severity = warning
